* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    height: 100hv;
}

.absolute{
    position: absolute;
    top: 50px !important;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: block;
}

.justify-center{
    justify-content: center;
}

.bg-shape1{
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    position: relative;
    animation: one 10s infinite;
}

    .bg-shape2{
        width: 300px;
        height: 300px;
        border-radius: 9999px;
        position: relative;
        animation: two 10s infinite;
    }

    .bg-shape3{
        width: 200px;
        height: 200px;
        border-radius: 9999px;
        position: relative;
        animation: one 10s infinite;
    }


    @keyframes one{
        0%{left: 0px; top: 0px;}
        25%{left: -100px; top: 70px;}
        50%{left: 20px; top: 150px;}
        75%{left: 50px; top: 100px;}
        100%{left: 0px; top: 0px;}
    }

    @keyframes two{
        0%{left: 0px; top: 0px;}
        25%{left: 50px; top: 10px;}
        50%{left: 100px; top: 50px;}
        75%{left: 50px; top: 100px;}
        100%{left: 0px; top: 0px;}
    }


    .opacity-50{
        opacity: .5;     
    }

    .bg-blur{
        filter: blur(90px);
    }

    .bg-primary{
        background-color: rgb(30, 0, 255);
    }

    .bg-teal{
        background-color: rgb(225, 72, 173);
    }

    .bg-purple{
        background-color: rgb(140, 0, 215)
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        align-items: center;
        position: relative;
        text-align: center;

    }
        
    h1{

        font-family: "Pacifico", cursive;
        font-size: 90px;
        text-align: center;
        justify-content: center;
        margin: auto;

    }

    .btn{
        width: 155px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #979797;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        border-radius: 50px;
        background:
        linear-gradient(0deg, #ddd,#fff);
        box-shadow: 0 10px 15px
        rgba(0,0,0,0.3);
        transition: color 0.4s;
        box-shadow: 0.4s;
        left: 0;
        right: 0;
        bottom: 6.25em;
        margin: auto;
    }

    .btn-title{
        width: 90%;
        height: 90%;
        background: linear-gradient(0deg,#fff,#ddd);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
